body{
	background-image: url("img1.2.jpg");
	background-repeat: no-repeat;
	color:black;
	font-family: Comic Sans;
	font-size:25px;
	font-style: italic;
}

p{
	font-style:bold;
	color: darkblue;
}

ol{
	box-sizing: border-box;
	border-color: gray;
	border-radius:4px;
}

input[type=submit]{
  border-radius: 4px;
  align-self: center;
  color:darkblue;
  border:darkblue;
  height: 28px;
  box-sizing: border-box;
  width: 100px;
  position: fixed;
  right:500px;
}
